{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Homepage{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="container-fluid container-push">
  <div class="row mb-5">
    <div
      class="col-10 offset-1 col-md-4 offset-md-none text-center desc-text mb-5"
    >
      <h3>Welcome to the Renegade League</h3>
      <h5 class="mt-2">
        Giving you the latest news and mission for the league
      </h5>
      <a class="btn btn-console-link p-1 my-2" href="{% url 'console' %}"
        >Access to the Console</a
      >
      <h5 class="mt-2 divide-top">
        Access to your user profiles and ordering for resources
      </h5>
      {% if request.user.is_authenticated %}
      <a class="btn btn-console-link p-1 mt-2" href="{% url 'profile' %}"
        >Access to your profile</a
      >
      {% else %}
      <a class="btn btn-console-link p-1 mt-2" href="{% url 'account_login' %}"
        >Log in to your account</a
      >
      {% endif %}
      <a class="btn btn-console-link p-1 mt-2" href="{% url 'resources' %}"
        >Purchase the Spoils</a
      >
    </div>
    {% if request.user.is_superuser %}
    <div
      class="col-10 offset-1 col-md-4 offset-md-none text-center auth-only-text mb-5"
    >
      <h3>Welcome back, Grandmaster {{ request.user }}</h3>
      <h5 class="my-3">
        There are currently updates requiring your attention:
      </h5>
      <div class="row">
        <div class="col-12 col-lg-6">
          <h5><u>Pending News Articles</u></h5>
          <a
            href="{% url 'pending_articles' %}"
            class="mb-3 btn btn-console-link p-1 mt-2"
            ><strong>{{ articles|length }}</strong> Unapproved Article(s)</a
          >
        </div>
        <div class="col-12 col-lg-6 pending-mission divide-left">
          <h5><u>Pending Mission Reports</u></h5>
          <a
            href="{% url 'pending_missions' %}"
            class="mb-3 btn btn-console-link p-1 mt-2"
            ><strong>{{ missions|length }}</strong> Unapproved Mission(s)</a
          >
        </div>
      </div>
      <div class="row divide-top">
        <div class="col-12 col-lg-6">
          <h5><u>Unauthorised Members</u></h5>
          <a
            href="{% url 'pending_members' %}"
            class="mb-3 btn btn-console-link p-1 mt-2"
          >
            <strong>{{ members|length }}</strong> Unapproved Members(s)
          </a>
        </div>
        <div class="col-12 col-lg-6 pending-mission divide-left">
          <h5><u>Pending Mission Updates</u></h5>
          <a
            href="{% url 'pending_updates' %}"
            class="mb-3 btn btn-console-link p-1 mt-2"
            ><strong>{{ updates|length }}</strong> Unapproved Update(s)</a
          >
        </div>
      </div>
      <div class="row divide-top">
        <div class="col-12">
          <h5><u>Unauthorised Items</u></h5>
          <a
            href="{% url 'pending_resources' %}"
            class="mb-3 btn btn-console-link p-1 mt-2"
          >
            <strong>{{ resources|length }}</strong> Unapproved Item(s)
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
