{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Homepage{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="container-fluid pt-5">
    <div class="row pt-5">
        <div class="col-10 offset-1 col-md-4 offset-md-none text-center desc-text mt-5">
            <h3>Welcome to the Renegade League</h3>
            <h5>Giving you the updates and reports for the missions</h5>
            <a class="btn btn-console-link" href="#">Access to the Console</a>
        </div>
    </div>
    
</div>

<footer class="d-none d-lg-block fixed-bottom text-center">
    <p class="my-2">This is a fan made, non profit site. Source materials and locations are described in README for
        project</p>
</footer>
{% endblock content %}