{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Console{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
        <h3 class="renegade page-heading">Add a New Article</h3>
        <p class="league page-subhead">
            Please use the form below to Add a News Article to the Operation</em>
        </p>
    </div>
    <div class="col-12 content-titles text-center">
        <a href="{% url 'home' %}" class="menus"><< Home</a>
        <a href="{% url 'news' %}" class="menus"><< News</a>
        <a href="{% url 'console' %}" class="menus"><< Console</a>
    </div>
  </div>
</div>
<hr class="menus">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 form-inner-content">
      <form action="{% url 'add_news' %}" method="POST" class="form mb-5 league card-origins">
        {% csrf_token %}
        {% for field in form %}
          {% if field.name != 'news_img' %}
            <div class="my-4">
              {{ field | as_crispy_field }}
            </div>
          {% else %}
            {{ field }}
          {% endif %}
        {% endfor %}
        <div class="my-3 text-right">
          <a href="{% url 'news' %}" class="btn-console-link"><< Cancel</a>
          <button class="btn-console-link" type="submit">+ Add Article</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}