{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- add extra css stylesheet -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/news-details.css' %}" />
{% endblock %}

<!-- set up tab extra title -->
{% block extra_title %} - News Report{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="renegade page-heading">News Report</h3>
            <p class="league page-subhead">
                This is the news article you have selected</em>
            </p>
        </div>
        <div class="col-12 content-titles">
            <a href="{% url 'news' %}" class="menus">
                << Back to News Articles</a> <a href="{% url 'console' %}" class="menus">
                    << Back to Console</a> </div> </div> </div> <hr class="menus" />

                    <!-- main content for displaying news articles -->
                    <div class="container league">
                        <div class="row">
                            <div class="col-12 text-center mb-3">
                                <h1 class="current-news league mb-3 mx-4"><strong>{{ event.title }}</strong></h1>
                                {% if event.news_type == 1 %}
                                <img src="{{ MEDIA_URL }}announcement-default-img.png"
                                    alt="General announcement default image" class="image-top" />
                                {% elif event.news_type == 2 %}
                                <img src="{{ MEDIA_URL }}system-default-img.png" alt="System dault image"
                                    class="image-top" />
                                {% else %} {% if event.news_img %}
                                <img src="{{ n.news_img.url }}" alt="{{ n.title }} image" class="image-top" />
                                {% else %}
                                <img src="{{ MEDIA_URL }}discover-default-img.png"
                                    alt="General announcement deault image" class="image-top" />
                                {% endif %} {% endif %}
                            </div>
                            <div class="col-12 col-md-6 mb-3 text-center">
                                <h5>Published on <strong>{{ event.publish_date }}</strong></h5>
                            </div>
                            <div class="col-12 col-md-6 mb-3 text-center">
                                <h5>Article by <strong>{{ event.author }}</strong></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ event.news_content }}
                            </div>
                        </div>
                    </div>
                    {% endblock %}