{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- add extra css stylesheet -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/news-details.css' %}" />
{% endblock %}

<!-- set up tab extra title -->
{% block extra_title %} - News Report{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center current-news">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="renegade page-heading">News Report</h3>
            <p class="league page-subhead">
                This is the news article you have selected</em>
            </p>
        </div>
        <div class="col-12 content-titles">
            {% if from_pending == True %}
            <a href="{% url 'pending_articles' %}" class="menus">
                << Pending Articles 
            </a>
            {% else %}
            <a href="{% url 'news' %}" class="menus"><< News Articles</a>
            {% endif %}
            <a href="{% url 'console' %}" class="menus">
                << Console 
            </a>
        </div>
    </div>
</div>
<hr class="menus" />
<!-- main content for displaying news articles -->
<div class="container league current-news">
    <div class="row">
        <div class="col-12 text-center mb-3">
            {% if event.news_type == 1 %}
            <img src="{{ MEDIA_URL }}announcement-default-img.png"
                alt="General announcement default image" class="image-top" />
            {% elif event.news_type == 2 %}
            <img src="{{ MEDIA_URL }}system-default-img.png" alt="System dault image"
                class="image-top" />
            {% else %} {% if event.news_img %}
            <img src="{{ n.news_img.url }}" alt="{{ n.title }} image" class="image-top" />
            {% else %}
            <img src="{{ MEDIA_URL }}discover-default-img.png"
                alt="General announcement deault image" class="image-top" />
            {% endif %} {% endif %}
        </div>
        <div class="col-12">
            <h1 class="league mb-3 mx-4 text-center"><strong>{{ event.title }}</strong></h1>
        </div>
        <div class="col-12 mb-5 text-center">
            <em>
                <h5>Published on <strong>{{ event.publish_date }}</strong>
                    Article by <strong>{{ event.author }}</strong></h5>
            </em>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6 offset-3 news-content">
            {{ event.news_content|linebreaks }}
        </div>
    </div>
</div>
<!-- back to top button -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center btt-btn">
            <a class="btt-link btn">
                <i class="fas fa-arrow-up"></i> Back to Top
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
</div>

<!-- footer elements -->
<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<footer class="d-none d-lg-block fixed-bottom text-center">
    <p class="my-2">
        This is a fan made, non profit site. Source materials and locations are
        described in README for project
    </p>
</footer>
{% endblock content %} {% block postloadjs %} {{ block.super }}
<script>
    $(".btt-link").click(function () {
        window.scrollTo(0, 0);
    });
</script>
{% endblock %}