{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up load basket_tools -->
{% load basket_tools %}

<!-- Add extra css from resources -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %}

<!-- set up tab extra title -->
{% block extra_title %} - Your Shopping Basket{% endblock %}

<!-- set up page header to push con down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">Complete your Purchase</h3>
    </div>
    <div class="col-12 content-titles">
      <a href="{% url 'home' %}" class="menus"><< Home</a>
      <a href="{% url 'view_basket' %}" class="menus"><< Shopping Basket</a>
    </div>
  </div>
</div>
<hr class="menus" />
<!-- main content -->
<div class="container ">
  <div class="row">
    <div class="col-12 col-lg-6 order-lg-last mb-5">
      <div class="row">
        <div class="col-12">
          <h4 class="renegade mb-3">
            Your Order Summary: <strong>{{ product_count }} products</strong>
          </h4>
        </div>
        <div class="col-7 offset-2">
          <p class="mb-2 mt-0 renegade">Item</p>
        </div>
        <div class="col-3 text-right">
          <p class="mb-2 mt-0 renegade">Subtotal</p>
        </div>
      </div>
      {% for item in basket_items %}
      <div class="row checkout-product-row mb-3">
        <div class="col-3 mb-1 text-center">
          <a href="{% url 'resource_details' item.product.slug %}">
            {% if not item.product.image %}
            <img
              src="{% static 'img/no-photo-available.jpg' %}"
              alt="{{ item.product.name }}'s product image not available"
              class="text-center checkout-image w-75"
            />
            {% else %}
            <img
              src="{{ item.product.image.url }}"
              alt="{{ item.product.name }}'s product image"
              class="text-center checkout-image "
            />
            {% endif %}
          </a>
        </div>
        <div class="col-6 mb-1 px-2">
          <p class="league my-0"><strong>{{ item.product.name }}</strong></p>
          <p class="league my-0 small">Quantity: {{ item.quantity }}</p>
        </div>
        <div class="col-3 mb-1 text-right">
          <p class="my-0 league"><strong>§{{ item.product.price|calc_subtotal:item.quantity }}</strong></p>
        </div>
      </div>
      {% endfor %}
      <!-- set up the order totals to customer clarity -->
      <hr class="menus my-2">
      <div class="row menus text-right">
        <div class="col-7 offset-2">
          <p class="my-0">Order Total:</p>
          <p class="my-0 small mb-3">Delivery:</p>
          <p class="my-0 grand-total-checkout"><strong>Grand Total:</strong></p>
        </div>
        <div class="col-3 text-right">
          <p class="my-0">§{{ total|floatformat:2 }}</p>
          <p class="small mb-3">§{{ delivery|floatformat:2 }}</p>
          <p class="my-0 grand-total-checkout"><strong>§{{ grand_total|floatformat:2 }}</strong></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 divide-right">
      <div class="col-12">
        <h4 class="renegade mb-3">
          Please complete the form below
        </h4>
      </div>
      <form
        action="{% url 'checkout' %}"
        method="POST"
        id="payment-form"
        class="form"
      >
        {% csrf_token %}
        <fieldset class="border-0 px-3 mb-5">
          <legend class="fieldset-label small renegade px-2">Details:</legend>
          {{ order_form.full_name | as_crispy_field }}
          {{ order_form.email | as_crispy_field }}
        </fieldset>
        <fieldset class="border-0 px-3 mb-5 league">
          <legend class="fieldset-label small renegade px-2">Delivery:</legend>
          {{ order_form.phone_number | as_crispy_field }}
          {{ order_form.street_address1 | as_crispy_field }}
          {{ order_form.street_address2 | as_crispy_field }}
          {{ order_form.town_or_city | as_crispy_field }}
          {{ order_form.county | as_crispy_field }}
          {{ order_form.postcode | as_crispy_field }}
          {{ order_form.country | as_crispy_field }}
          <div class="form-check form-check-inline checkbox-save-profile float-right my-3">
            {% if user.is_authenticated %}
            <label for="id-save-info" class="form-check-label">
              Save this information to my profile
            </label>
            <input
              type="checkbox"
              class="form-check-input ml-2 mr-0"
              id="id-save-info"
              name="save-info"
              checked
            />
            {% else %}
            <label for="id-save-info" class="form-check-label league">
              <a href="{% url 'account_signup' %}" class="text-info"
                >Create an Account</a
              >
              Or
              <a href="{% url 'account_login' %}" class="text-warning">Login</a>
                to save this information
            </label>
            {% endif %}
          </div>
        </fieldset>
        <fieldset class="border-0 px-3 mb-5">
          <legend class="fieldset-label small renegade px-2 w-auto">Payment:</legend>
          <!-- card stripe element will go here -->
          <div class="mb-3" id="card-element"></div>
          <!-- used to display card errors -->
          <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
        </fieldset>
        <div class="submit-button text-right mt-5 mb-2">
          <a href="{% url 'view_basket' %}" class="btn btn-console-link">
            <span class="icon"><i class="fas fa-chevron-circle-left"></i></span>
            <span>Adjust Basket</span>
          </a>
          <button class="btn btn-console-link">
            <span><strong>Complete Order</strong></span>
            <span class="icon"><i class="fas fa-lock"></i></span>
          </button>
          <p class="small menus my-0">
            <span class="icon"><i class="fas fa-excalamation-circle"></i></span>
            <span class="small">Your card will be charged <strong>§{{ grand_total|floatformat:2 }}</strong></span>
          </p>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center btt-btn my-5">
      <a class="btt-link btn">
        <i class="fas fa-arrow-up"></i> Back to Top
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %} {% block page_footer %}
<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block postloadjs %}
<!-- prevent overwrite postloadjs block -->
{{ block.super }}
<!-- Include our file for js script -->
{% include 'resources/includes/quantity_input_script.html' %}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
<script>
  // update quantity on click
  $(".update-link").click(function (e) {
    var form = $(this).prev(".update-form");
    form.submit();
  });

  // remove item on click
  $(".remove-link").click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr("id").split("remove_")[1];
    var url = `remove/${itemId}/`;
    var data = {
      csrfmiddlewaretoken: csrfToken,
    };

    $.post(url, data).done(function () {
      location.reload();
    });
  });
</script>

<script>
  $(".btt-link").click(function () {
    window.scrollTo(0, 0);
  });
</script>
<!-- endblock -->
{% endblock %}
