{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- Add extra css from resources -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/basket-styles.css' %}" />
{% endblock %}

<!-- set up tab extra title -->
{% block extra_title %} - Your Shopping Basket{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">Shopping Basket</h3>
      <p class="league page-subhead">
        Here is a list of products you currently have loaded into your shopping
        basket:
      </p>
    </div>
    <div class="col-12 content-titles">
      <a href="{% url 'home' %}" class="menus"><< Home</a>
      <a href="{% url 'resources' %}" class="menus"><< Resources</a>
    </div>
  </div>
</div>
<hr class="menus" />
<!-- main content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      {% if basket_items %}
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
          <thead>
            <tr class="renegade">
              <th scope="col" class="">Product Info</th>
              <th scope="col"></th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          {% for item in basket_items %}
          <tr class="league">
            <td class="p-3">
              <img
                src="{{ item.product.image.url }}"
                alt="{{ item.product.name}} product image"
                class="item-image"
              />
            </td>
            <td class="p-3">
              <h4 class="my-0"><strong>{{ item.product.name }}</strong></h4>
              <p class="my-0 small">
                <em>Cat: {{ item.product.category }}</em>
              </p>
            </td>
            <td class="p-3">
              <p class="my-0">
                <strong>§{{ item.product.price|floatformat:2 }}</strong>
              </p>
            </td>
            <td class="p-3 w-25">
              <form action="{% url 'update_basket' item.product_id %}" method="POST" class="form update-form">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button
                        class="decrement-qty btn-sm btn-console-link"
                        data-product_id="{{ item.product_id }}"
                        id="decrement-qty_{{ item.product_id }}"
                      >
                        <span class="icon">
                          <i class="fa fa-sm fa-minus"></i>
                        </span>
                      </button>
                    </div>
                    <input
                      type="number"
                      class="form-control-sm qty-input basket-update-qty"
                      name="quantity"
                      value="{{ item.quantity }}"
                      min="1"
                      max="99"
                      data-product_id="{{ item.product_id }}"
                      id="id_qty_{{ item.product_id }}"
                    />
                    <div class="input-group-append">
                      <button
                        class="increment-qty btn-sm btn-console-link"
                        data-product_id="{{ item.product_id }}"
                        id="increment-qty_{{ item.product_id }}"
                      >
                        <span class="icon">
                          <i class="fa fa-sm fa-plus"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <a class="update-link text-info"><small>Update</small></a>
              <a
                class="remove-link text-danger float-right"
                id="remove_{{ item.product_id }}"
                ><small><strong>Remove</strong></small></a
              >
            </td>
            <td class="p-3">
              <p class="my-0">
                <strong>§{{ item.product.price|floatformat:2 }}</strong>
              </p>
            </td>
          </tr>
          {% endfor %}
          <tr class="menus">
            <td colspan="5" class="pt-5 text-right">
              <h6>Basket Total: <strong>§{{ total|floatformat:2 }}</strong></h6>
              {% if delivery <= 0 %}
              <h6 class="mt-3">
                <strong>You have qualified for free delivery!</strong>
              </h6>
              {% else %}
              <h6 class="mt-3">
                Delivery Charge: <strong>§{{ delivery|floatformat:2 }}</strong>
              </h6>
              {% endif %} {% if free_delivery_delta > 0 %}
              <p class="menus mb-3">
                Spend just <strong>§{{ free_delivery_delta }}</strong>
                more to get free delivery!
              </p>
              {% endif %}
              <h4>
                <strong>Grand Total: §{{ grand_total|floatformat:2 }}</strong>
              </h4>
            </td>
          </tr>
          <tr>
            <td class="text-right" colspan="5">
              <a href="{% url 'resources' %}" class="btn btn-console-link"
                ><< Keep Shopping</a
              >
              <a href="#" class="btn btn-console-link">
                <span class="icon">
                  <i class="fas fa-lock"></i> Secure Checkout
                </span>
              </a>
            </td>
          </tr>
        </table>
      </div>
      {% else %}
      <div class="text-center mt-5">
        <h4 class="lead renegade mb-5">Your Basket is EMPTY!!!</h4>
        <a href="{% url 'resources' %}">
          <button class="btn btn-console-link my-3"><< Keep Shopping</button>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center btt-btn my-5">
      <a class="btt-link btn">
        <i class="fas fa-arrow-up"></i> Back to Top
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %} {% block page_footer %}
<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block postloadjs %}
<!-- prevent overwrite postloadjs block -->
{{ block.super }}
<!-- Inlcude our file for js script -->
{% include 'resources/includes/quantity_input_script.html' %}

<script>
  // update quantity on click
  $('.update-link').click(function (e) {
    var form = $(this).prev('.update-form');
    form.submit();
  })

  // remove item on click
  $('.remove-link').click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];
    var url = `remove/${itemId}/`;
    var data = {
      'csrfmiddlewaretoken': csrfToken
    };

    $.post(url, data)
      .done(function () {
        location.reload();
      });
  })

</script>

<script>
  $('.btt-link').click(function () {
      window.scrollTo(0, 0)
  })
</script>
<!-- endblock -->
{% endblock %}
