<h6>Basket Total: <strong>§{{ total|floatformat:2 }}</strong></h6>
{% if delivery <= 0 %}
<h6 class="mt-3">
  <strong>You have qualified for free delivery!</strong>
</h6>
{% else %}
<h6 class="mt-3">
  Delivery Charge: <strong>§{{ delivery|floatformat:2 }}</strong>
</h6>
{% endif %} {% if free_delivery_delta > 0 %}
<p class="menus mb-3">
  Spend just <strong>§{{ free_delivery_delta }}</strong>
  more to get free delivery!
</p>
{% endif %}
<h4>
  <strong>Grand Total: §{{ grand_total|floatformat:2 }}</strong>
</h4>
