@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ---------- text position --- */
.text-right {
    text-align: right;
    align-items: right;
}

/* ---------- Text Styles --- */
.renegade {
    color: yellow;
}

.league {
    color: rgb(0, 255, 0);
}

.darkleague {
    color: rgb(0, 60, 0);
}

.void {
    color: black;
}

.menus {
    color: red;
    font-weight: 700;
    letter-spacing: 2px;
}

.menus:hover {
    color: red;
}

.content-titles {
    font-family: 'Dosis', 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 500;
}

.content-titles a {
    color: red;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.content-titles a:hover {
    border: 2px solid red;
}

.page-heading {
    font-family: 'Bruno Ace SC', Arial, Helvetica, sans-serif;
}

.page-subhead {
    font-family: 'Dosis', 'Times New Roman', Times, serif;
    font-size: 25px;
}

.dividers {
    font-weight: 700;
    color: red;
}

.divide-left {
    border-left: 3px solid black;
}

.divide-top {
    border-top: 3px solid black;
    padding-top: 20px;
}

/* background colors */
.bg-black {
    background-color: black;
}

.bg-red {
    background-color: red;
}

/* Text decoration removal */
.plain-link {
    text-decoration: none;
}

.plain-link:hover {
    text-decoration: underline overline;
    text-underline-offset: 7px;
}

u {
    text-underline-position: under;
}

/* set up main body style */
html {
    height: 100%;
}

body {
    background: url('/static/img/main-wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 100px); /* height of menu */
    font-family: 'Patrick Hand', sans-serif;
    overflow-x: hidden;
}

.cover-up {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(0, 60, 0);
    z-index: -1;
}

/* ---------- header --- */
.fixed-top {
    border-bottom: 1px solid rgb(128, 69, 69);
}

.fixed-bottom {
    border-top: 1px solid rgb(128, 69, 69);
}

.navbar {
    height: 80px;
}

.navbar-brand {
    font-family: 'Bruno Ace SC', Arial, Helvetica, sans-serif;
    margin: auto 10px 50px;
}

.nav-link {
    font-family: 'Dosis', 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 15px;
    margin-top: 10px;
}

.dropdown-menu {
    border: 2px solid black;
}

.dropdown-item {
    font-family: 'Dosis', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown-item:hover {
    background-color: red;
    font-weight: 700;
}

/* messages */

.fixed-alerts {
    text-align: center;
    align-items: center;
    position: fixed;
    top: 80px;
    z-index: 1;
}

/* footer */

.footer-container {
    height: 60px;
}

footer {
    height: 40px;
    background-color: rgb(0, 0, 0);
    font-family: 'Urbanist', Arial, Helvetica, sans-serif, serif;
    color: gainsboro;
}

/* Set up styles for main content */

.header-container {
    height: 100px;
}

.container-push {
    margin-top: 80px;
}

/* Index page */

.desc-text {
    font-family: 'Urbanist', Arial, Helvetica, sans-serif, serif;
    background-color: rgba(195, 55, 55, 0.5);
    color: gainsboro;
    padding: 15px;
    border: 3px solid gainsboro;
    border-radius: 10px;
}

.auth-only-text {
    font-family: 'Urbanist', Arial, Helvetica, sans-serif, serif;
    background-color: rgba(200, 165, 5, 0.5);
    color: rgb(25, 25, 25);
    padding: 15px;
    border: 3px solid gainsboro;
    border-radius: 10px;
}

.btn-console-link {
    color: black;
    font-weight: 300;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid black;
}

.btn-console-link:hover {
    background-color: rgb(0, 0, 0);
    font-weight: 700;
    color: rgb(255, 0, 0);
}

/* Console page Styles */

.section-flow {
    overflow-x: auto;
}

.btn {
    border: 1px solid black;
}

.btn-view {
    background-color: green;
    color: yellow;
}

.btn-edit {
    background-color: orange;
    color: white;
}

.btn-delete {
    background-color: red;
    color: white;
}

.link-to-content {
    text-decoration: none;
    text-align: center;
    height: 430px;
}

.btt-link {
    color: rgb(30, 255, 0);
    border: 1px solid black;
    border-radius: 8px;
    font-weight: 300;
}

.btt-link:hover {
    border: 1px solid black;
    border-radius: 8px;
    color: rgb(253, 249, 20);
    font-weight: 700;
}

/* Card styles */

.card a {
    text-decoration: none;
}

.personnel-card {
    background-color: rgb(216, 216, 216);
    border: 2px solid yellow;
    height: auto;
    align-items: center;
    padding: 20px 10px 20px 10px;
}

.news-card {
    background-color: rgb(65, 195, 255);
    border: 2px solid rgb(250, 255, 35);
    height: auto;
    align-items: center;
    padding: 20px 10px 20px 10px;
}

.mission-card {
    background-color: rgb(160, 110, 255);
    border: 2px solid rgb(250, 255, 35);
    height: auto;
    align-items: center;
    padding: 20px 10px 20px 10px;
}

.more-content-card:hover {
    background-color: red;
}

.card-img-holder {
    text-align: center;
    max-height: 200px;
    border: 2px solid black;
    max-width: 200px;
    margin: 0px auto;
}

.card-img-top {
    float: center;
    align-items: center;
    text-align: center;
    max-height: 200px;
}

.card-title {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif, serif;
    font-size: 27px;
    font-weight: 700;
}

.card-origins {
    font-family: 'Dosis', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.addition-btn {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif, serif;
    font-size: 30px;
    text-align: center;
    align-items: center;
    border: 2px solid yellow;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.add-link {
    color: black;
}

.add-link:hover {
    color: antiquewhite;
}

.news-btn {
    background-color: rgb(65, 195, 255);
}

.news-btn:hover {
    background-color: rgb(25, 65, 85);
}

.mission-btn {
    background-color: rgb(160, 110, 255);
}

.mission-btn:hover {
    background-color: rgb(65, 25, 85);
}

.personnel-btn {
    background-color: rgb(216, 216, 216);
}

.personnel-btn:hover {
    background-color: rgb(65, 65, 65);
}

/* Crispy form settings */

.form-inner-content label {
    margin-bottom: 10px;
}

.form-inner-content .textinput.textInput {
    width: 100%;
    margin-bottom: 20px;
}

.select.form-control {
    max-width: 200px;
}

/* media queries */

@media (min-width: 1200px) {
    .form-inner-content .textinput.textInput {
        width: 60%;
    }
}

@media (max-width: 991px) {
    .container-push {
        margin-top: 120px;
    }

    .row.divide-top, 
    .pending-mission.divide-left {
        border: none;
    } 
}

@media (max-height: 500px) {
    .container-push {
        margin-top: 10px;
    }
}