@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* ---------- text position --- */
.text-right {
    text-align: right;
}

/* ---------- header --- */
.header-field {
    height: 100px;
    background-color: #000;
    padding: 0 10px;
}

.header-left-field {
    color: aliceblue;
    font-family: Dosis, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.header-center-field {
    font-family: 'Bruno Ace SC', Helvetica, sans-serif;
    color: yellow;
}

.header-right-field {
    font-family: Dosis, 'Times New Roman', Times, serif;
    color: rgb(0, 255, 0);
    font-size: 30px;
}