.item-image {
    max-height: 100px;
    float: right;
    border: 2px solid yellow;
}

input {
    height: 40px;
}

.input-group-prepend button {
    height: 40px;
    padding: 0 5px 0 5px;
    border-radius: 0;
}

.input-group-append button {
    height: 40px;
    padding: 0 5px 0 5px;
    border-radius: 0;
}

@media (max-width: 767px) {
    .item-image {
        float: none;
    }

    .quantity-form-input {
        align-items: center;
        text-align: center;
        align-content: center;
    }
}