@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

.current-mission {
    font-family: 'Dosis', 'Times New Roman', Times, serif;
}

.mission-img {
    max-height: 500px;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 8px;
}

.mission-breakdown {
    font-size: 120%;
    text-transform: capitalize;
}

.mission-desc {
    font-size: 120%;
}

.status-blink {
    letter-spacing: 3px;
    font-weight: 700;
    animation-name: status-blink;
    animation-duration: .5s;
    animation-iteration-count: 5;
}

@keyframes status-blink {
    0% {opacity: 1;}
    50% {opacity: 0.1;}
    100% {opacity: 1;}
}