{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - User profile{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">
        User Profile: {% if request.user.is_superuser %} 
        Grandmaster {% endif %}{{ profile.user }}
      </h3>
      <p class="league page-subhead">
        Below are the details for the user's profile.
      </p>
    </div>
    <div class="col-12 content-titles">
      <a href="{% url 'home' %}" class="menus"><< Home</a>
      <a href="{% url 'console' %}" class="menus"><< Console</a>
    </div>
  </div>
</div>
<hr class="menus" />
<div class="container">
  <div class="row">
    <!-- add code for our user details form -->
    <div class="col-12 col-lg-6 league mb-5">
      <h3 class="renegade">Profile details:</h3>
      <form
        action="{% url 'profile' %}"
        method="POST"
        id="profile-update-form"
        class="form-inner-content mt-3"
      >
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn-console-link my-3">
          Update Profile
        </button>
      </form>
      <br />
      {% if request.user.is_superuser %}
      <h4>News articles you have contributed:</h4>
      {% if request.user.articles.all|length == 0 %}
      <p class="league">There have been no article produced</p>
      {% endif %}
      <ul>
        {% for articles in request.user.articles.all %}
        <li>
          <a
            href="{% url 'news_details' articles.id %}"
            class="plain-link menus"
          >
            {{ articles }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <!-- Add code for displaying the orers we have placed -->
    <div class="col-12 col-lg-6 divide-left">
      <h3 class="renegade">Order History:</h3>
      <table class="table table-sm table-borderless mx-3 league">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order No.</th>
            <th scope="col">Date</th>
            <th scope="col">Item Qnt.</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for o in orders %}
          <tr>
            <!-- Order Number code -->
            <th scope="row">{{ o.order_number|truncatechars:10 }}</th>
            <!-- Date -->
            <td>{{ o.date}}</td>
            <!-- item count -->
            <td>{{ o.quantity }}</td>
            <!-- Total order price -->
            <td>{{ o.grand_total }}</td>
          </tr>
          {% endfor %}
    </div>
  </div>
</div>
{% endblock %} 

{% block page_footer %}
<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/countryfield.js' %}"></script>
{% endblock %}
