{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Mission Log{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">Mission Briefs</h3>
      <p class="league page-subhead">
        {% if from_homepage %}
        These are the Unapproved Missions awaiting your review
        {% else %}
        Here are all the missions the team are currently completing or have
        completed.
        {% endif %}
      </p>
    </div>
    <div class="col-12 content-titles">
      {% if from_homepage %}
      <a href="{% url 'home' %}" class="menus"><< Home</a>
      {% endif %}
      <a href="{% url 'console' %}" class="menus"><< Console</a>
    </div>
  </div>
</div>
<hr class="menus" />
<p class="league">{{ profile }}</p>
{% endblock %}