{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- add extra css stylesheet -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/personnel-details.css' %}" />
{% endblock %}

<!-- set up tab extra title -->
{% block extra_title %} - Personnel Details{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="renegade page-heading">Personnel Change</h3>
            <p class="league page-subhead">
                This is updated information regarding the member of personnel in question</em>
            </p>
        </div>
        <div class="col-12 content-titles menus">
            {% if from_pending == True %}
            <a href="{% url 'pending_members' %}" class="menus">
                << Pending Members 
            </a>
            {% else %}
            <a href="{% url 'personnel' %}" class="menus"><< Personnel</a>
            {% endif %} 
            <a href="{% url 'console' %}" class="menus"><< Console</a>
        </div>
    </div>
</div>
<hr class="menus" />
<div class="container current-personnel league">
    <div class="row mb-5">
        {% if request.user.is_superuser %}
        <div class="col-12 text-center">
            <a href="{% url 'edit_member' member.id %}">
                <button class="btn-console-link my-3">Edit Member</button>
            </a>
            <a href="{% url 'delete_member' member.id %}">
                <button class="btn-console-link my-3">Delete Member</button>
            </a>
        </div>
        {% endif %}
        <div class="col-12 text-center">
            <h1 class=""><strong>{{ member.name }}</strong></h1>
        </div>
        <div class="col-12 text-center">
            <h3>{{ member.get_rank_display|upper }} - <em>{{ member.get_current_status_display }}</em></h3>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-6 text-center mb-5">
            {% if member.profile_image %}
                <img class="profile-img" src="{{ member.profile_image.url }}" alt="{{ member.name }} profile image" />
            {% else %}
                <img class="profile-img" src="{{ MEDIA_URL }}no-image.png" alt="No image available" />
            {% endif %}
        </div>
        <div class="col-12 col-lg-6 personnel-desc">
            <p>Originating from {{ member.originated_from }}. </p>
            <br>
            <p>Their age is {{ member.age }} years old.</p>
            <br>
            <p>They joined the league on {{ member.joined }}.</p>
            <br>
            <p>{{ member.speciality|linebreaks }}</p>
            <br>
            <h4>Mission Leader for the following mission:</h4>
            {% if member.missions.all|length == 0 %}
            <p>They have currently lead no missions to this date.</p>
            {% endif %}
            <ul>
                {% for missions in member.missions.all %}
                    <li><a href="{% url 'mission_details' missions.id %}" class="plain-link menus">{{ missions }}</a></li> 
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% if request.user.is_superuser %}
<hr class="menus">
<div class="container text-center league">
    <div class="row">
        <div class="col-12">
            <p class="page-subhead">This brief is currently {{ member.get_authorised_display|lower }} to the general users.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-8 offset-2 col-md-4 offset-md-4 form-inner-content">
            <form action="{% url 'personnel_details' member.id %}" method="POST" class="form mb-5 card-origins approval-form">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn-console-link my-3" type="submit">Update Approval</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
<!-- back to top button -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center btt-btn">
            <a class="btt-link btn">
                <i class="fas fa-arrow-up"></i> Back to Top
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
</div>
<!-- footer elements -->
<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<footer class="d-none d-lg-block fixed-bottom text-center">
    <p class="my-2">
        This is a fan made, non profit site. Source materials and locations are
        described in README for project
    </p>
</footer>
{% endblock content %}
<!-- page specific javascript -->
{% block postloadjs %} {{ block.super }}
<script>
    $(".btt-link").click(function () {
        window.scrollTo(0, 0);
    });
</script>
{% endblock %}