{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Personnel{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">Personnel Roster</h3>
      <p class="league page-subhead">
        This is the current collection of team members that belong to the
        league.
      </p>
    </div>
    <div class="col-12 content-titles">
      <a href="{% url 'console' %}" class="menus">Back to Console</a>
    </div>
  </div>
</div>
<hr class="menus" />
<div class="container-fluid">
  <div class="row mb-3">
    {% for c in crew %}
    <div class="col-sm-6 col-md-4 col-xl-3 mb-1">
      <div class="card personnel-card">
        <a href="{% url 'personnel_details' c.id %}">
          <div class="row">
            <div class="col">
              <div class="card-img-holder">
                {% if c.profile_image %}
                <img
                  class="card-img-top"
                  src="{{ c.profile_image.url }}"
                  alt="{{ c.name }} profile image"
                />
                {% else %}
                <img
                  class="card-img-top"
                  src="{{ MEDIA_URL }}no-image.png"
                  alt="No image available"
                />
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row void">
            <div class="col">
              <div class="card-body text-center">
                <h5 class="card-title">{{ c.name|upper }}</h5>
                <p class="card-origins">
                  from <em>{{ c.originated_from|lower }}</em>
                </p>
                <p class="card-text">
                  {{ c.get_rank_display }} -
                  <em>{{ c.get_current_status_display }}</em>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="{% url 'personnel_details' c.id %}" class="btn btn-view"
                ><span class="d-none d-lg-inline-block">View </span>
                <i class="fas fa-eye"></i
              ></a>
              {% if request.user.is_superuser %}
              <a href="#" class="btn btn-edit"><i class="fas fa-edit"></i></a>
              <a href="#" class="btn btn-delete"
                ><i class="fas fa-trash-alt"></i
              ></a>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    </div>
    {% if forloop.counter|divisibleby:1 %}
    <div class="col-12 d-sm-none">
      <hr class="menus my-3" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:2 %}
    <div class="col-12 d-none d-sm-block d-md-none">
      <hr class="menus my-3" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:3 %}
    <div class="col-12 d-none d-md-block d-xl-none">
      <hr class="menus my-3" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:4 %}
    <div class="col-12 d-none d-xl-block">
      <hr class="menus my-3" />
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center btt-btn">
      <a class="btt-link btn">
        <i class="fas fa-arrow-up"></i> Back to Top
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>
  </div>
</div>
<!-- set up footer for page -->
<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
<footer class="d-none d-lg-block fixed-bottom text-center">
  <p class="my-2">
    This is a fan made, non profit site. Source materials and locations are
    described in README for project
  </p>
</footer>

{% endblock %} {% block postloadjs %} {{ block.super }}
<script>
  $(".btt-link").click(function () {
    window.scrollTo(0, 0);
  });
</script>
{% endblock %}
