<script>

    // increment button for increasing the value of the input
    $('.increment-qty').click(function(e){
        e.preventDefault();
        var productId = $(this).closest('.input-group').find('.qty-input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
    })

    //decrement button for reducing the number
    $('.decrement-qty').click(function(e){
        e.preventDefault();
        var productId = $(this).closest('input-group').find('.qty-input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
    })
</script>