{% if widget.is_initial %}
<p class="my-5">{{ widget.initial_text }}:</p>
<a href="{{ widget.value.url }}">
  <img
    width="auto"
    height="96"
    class="rounded shadow-sm"
    src="{{ widget.value.url }}"
  />
</a>
{% if not widget.required %}
<div class="custom-control custom-checkbox my-5">
  <input
    class="custom-control-input"
    type="checkbox"
    name="{{ widget.checkbox_name }}"
    id="{{ widget.checkbox_id }}"
  />
  <label
    class="custom-control-label my-5"
    for="{{ widget.checkbox_id }}"
    >{{ widget.clear_checkbox_label }}</label
  >
</div>
{% endif %}
<br />
{{ widget.input_text }}

{% endif %}
<span class="my-5">
  Select Image
  <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}" class="btn-console-link my-3" />
</span>
<p class="text-danger" id="filename"></p>
