<div class="container-fluid w-100 fixed-top">
    <div class="row bg-black d-lg-none">
        <div class="col-6 my-3">
            <a href="{% url 'home' %}" class="plain-link mobile-brand">
                <h1 class="renegade">R<span class="league">L</span></h1>
            </a>
        </div>
        <div class="col-6">
            <div class="text-right">
                <div id="myNav" class="overlay">
                    <!-- Button to close the overlay navigation -->
                    <a href="javascript:void(0)" class="closebtn overlay-menu-btn" onclick="closeNav()">&times;</a>
                    <!-- Overlay content -->
                    <div class="overlay-content">
                        <a class="nav-link plain-link overlay-menu-btn menus" href="{% url 'home' %}">Home</a>
                        <!-- content collapse -->
                        <a class="nav-link plain-link overlay-menu-btn menus" href="#collapseContent" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseContent">
                            Console <i class="fas fa-sort-down"></i></a>
                        <div class="collapse" id="collapseContent">
                            <div class="card card-body">
                                {% if request.user.is_superuser %}
                                <a href="{% url 'console_add_entry' %}" class="collapse-item">Add New Entry</a>
                                <a href="{% url 'pending_articles' %}" class="collapse-item">Pending Articles</a>
                                <a href="{% url 'pending_missions' %}" class="collapse-item">Pending Missions</a>
                                <a href="{% url 'pending_members' %}" class="collapse-item">Pending Members</a>
                                <div class="dropdown-divider"></div>
                                {% endif %}
                                <a href="{% url 'console' %}" class="collapse-item">- General Access -</a>
                                <a href="{% url 'news' %}" class="collapse-item">News Updates</a>
                                <a href="{% url 'missions' %}" class="collapse-item">Mission Briefs</a>
                                <a href="{% url 'personnel' %}" class="collapse-item">Personnel Roster</a>
                            </div>
                        </div>
                        <!-- account collapse -->
                        <a class="nav-link plain-link overlay-menu-btn menus" href="#collapseResources" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseAccount">
                            Account <i class="fas fa-sort-down"></i></a>
                        <div class="collapse" id="collapseResources">
                            <div class="card card-body">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="collapse-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="collapse-item">Logout</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="collapse-item">Register</a>
                                <a href="{% url 'account_login' %}" class="collapse-item">Login</a>
                                {% endif %}
                            </div>
                        </div>
                        <a
                            class="nav-link plain-link overlay-menu-btn menus"
                            href="#collapseAccount"
                            data-toggle="collapse"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapseAccount">
                            {% if grand_total %}
                                §{{ grand_total|floatformat:2 }}
                                {% else %}
                                Shop
                            {% endif %} <i class="fas fa-sort-down"></i>
                        </a>
                        <div class="collapse" id="collapseAccount">
                            <div class="card card-body">
                                <a href="{% url 'resources' %}" class="collapse-item">Resources</a>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'view_basket' %}" class="collapse-item">Basket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Use any element to open/show the overlay navigation menu -->
                <h4 class="nav-link menus" onclick="openNav()">Menu <i class="fas fa-level-down-alt"></i></h4>
            </div>
        </div>
    </div>
</div>