<div class="container-fluid fixed-top d-md-none">
  <div class="row header-field">
    <!-- Set up menu and search bar for site -->
    <div class="col-4 header-left-field my-auto">
      <!-- menu -->
      <!-- search -->
    </div>
    <!-- Set up main site header -->
    <div
      class="d-none d-xl-block col-4 text-center header-center-field my-auto"
    >
      <a href="{% url 'home' %}" class="header-title">
        <span class="renegade">Renegade</span><span class="league">League</span>
      </a>
    </div>
    <div class="d-xl-none col-4 text-center header-center-field my-auto">
      <a href="{% url 'home' %}" class="header-title">
        <span class="renegade">R</span><span class="league">L</span>
      </a>
    </div>
    <!-- Set up account and shop bar -->
    <div class="col-4 text-right header-right-field my-auto">
      <ul class="list-inline list-unstyled my-0">
        <li class="list-inline-item dropdown">
          <a
            class="plain-link menus"
            href="#"
            id="user-options-2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="text-center">
              <div><i class="fas fa-user fa-lg"></i></div>
              <p class="my-0">My Account <i class="fas fa-sort-down"></i></p>
            </div>
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="user-options-2">
            <a href="#" class="dropdown-item">Hello</a>
            <a href="#" class="dropdown-item">Darkness</a>
            <a href="#" class="dropdown-item">My Old</a>
            <a href="#" class="dropdown-item">Friend</a>
          </div>
        </li>
        <li class="list-inline-item">
          <a class="plain-link menus" href="#">
            <div class="text-center">
              <div><i class="fas fa-shopping-bag fa-lg"></i></div>
              <p class="my-0">Currency</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
