{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Add Content{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="renegade page-heading">
        Welcome Back, Grandmaster {{ request.user }}
      </h2>
      <p class="league page-subhead">
        Please choose the type of entry you would like to complete:
      </p>
    </div>
  </div>
  <!-- row for navigation buttons -->
  <div class="row text-center my-3">
    <div class="col-12 text-center content-titles">
      <a href="{% url 'home' %}" class="menus btn"><i class="fas fa-chevron-circle-left"></i> Home</a>
      <a href="{% url 'console' %}" class="menus btn"><i class="fas fa-chevron-circle-left"></i> Console</a>
    </div>
  </div>
</div>
<hr class="menus mb-5">
<!-- container for additional buttons -->
<div class="container">
  <div class="row">
    <a href="{% url 'pending_missions' %}" class="col-10 offset-1 col-md-4 offset-md-0 
      text-center addition-btn mb-4 text-center plain-link add-link my-auto news-btn">
          Access Pending Articles
      </a>
    <a href="{% url 'pending_missions' %}" class="col-10 offset-1 col-md-4 offset-md-0 
      text-center addition-btn mb-4 text-center plain-link add-link my-auto mission-btn">
          Access Pending Missions
      </a>
    <a href="{% url 'pending_missions' %}" class="col-10 offset-1 col-md-4 offset-md-0 
      text-center addition-btn mb-4 text-center plain-link add-link my-auto update-btn ">
          Access Pending Updates
      </a>
    <a href="{% url 'pending_missions' %}" class="col-10 offset-1 col-md-4 offset-md-0 
      text-center addition-btn mb-4 text-center plain-link add-link my-auto personnel-btn ">
          Access Pending Personnel
      </a>
    <a href="{% url 'pending_missions' %}" class="col-10 offset-1 col-md-4 offset-md-0 
      text-center addition-btn mb-4 text-center plain-link add-link my-auto item-btn ">
          Access Pending Resources
      </a>
  </div>
</div>
{% endblock %}

{% block page_footer %}
<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
