{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Console{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">Welcome to the Console</h3>
      <p class="league page-subhead">
        Access the latest information about missions and members for the League
      </p>
    </div>
  </div>
  <div class="col-12">
    <ul class="list-inline list-unstyled text-center content-titles" id="news">
      <li class="list-inline-item">
        <a class="menus" href="#news">- News</a>
      </li>

      <li class="list-inline-item">
        <a class="menus" href="#missions">- Missions</a>
      </li>

      <li class="list-inline-item">
        <a class="menus" href="#personnel">- Personnel</a>
      </li>
    </ul>
  </div>
</div>
<hr class="menus mb-5" />
<!-- The content entries section -->
<!-- content for news updates -->
<div class="container-fluid">
  <div class="row mb-5">
    <h3 class="content-titles league mb-5 mx-4">- News Updates -</h3>
    {% for n in news %}
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-5">
      <div class="card news-card">
        <div class="row">
          <div class="col">
            <div class="card-img-holder">
              <a href="#">
                {% if n.news_type == 1 %}
                <img src="/media/discover-default-img.png" alt="system issue default image" class="card-img-top">
                {% elif n.news_type == 2 %}
                <img src="/media/system-default-img.png" alt="Discoveries dault image" class="card-img-top">
                {% else %}
                <img src="/media/anouncement-default-img.png" alt="General announcement deault image" class="card-img-top">
                {% endif %}
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text d-none d-md-inline-block">
                <strong>{{ n.title|upper }}</strong>
              </p>
            </div>
          </div>
        </div>
        <!-- content control buttons -->
        <div class="row">
          <div class="col">
            <a href="#" class="btn btn-view"><span class="d-none d-lg-inline-block">View </span>
              <i class="fas fa-eye"></i></a>
            {% if request.user.is_superuser %}
            <a href="#" class="btn btn-edit"><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-delete"><i class="fas fa-trash-alt"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<hr class="menus my-5" />
<!-- content for Missions -->
<div class="container-fluid">
  <div class="row mb-5">
    <h3 class="content-titles league mb-5 mx-4">- Mission Briefs -</h3>
    <div class="col" id="personnel"></div>
  </div>
</div>
<hr class="menus my-5" />
<!-- content for Personnel changes -->
<div class="container-fluid mb-5">
  <div class="row mb-5">
    <h3 class="content-titles league mb-5 mx-4">- Newest Personnel -</h3>
    {% for c in crew %}
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-5">
      <div class="card personnel-card">
        <div class="row">
          <div class="col">
            <div class="card-img-holder">
              <a href="#">
                {% if c.profile_image %}
                <img class="card-img-top" src="{{ c.profile_image.url }}" alt="{{ c.name }} profile image" />
                {% else %}
                <img class="card-img-top" src="{{ MEDIA_URL }}no-image.png" alt="No image available" />
                {% endif %}
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">{{ c.name|upper }}</h5>
              <p class="card-text d-none d-md-inline-block">
                {{ c.get_rank_display }} -
                <em>{{ c.originated_from|lower }}</em>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="#" class="btn btn-view"><span class="d-none d-lg-inline-block">View </span>
              <i class="fas fa-eye"></i></a>
            {% if request.user.is_superuser %}
            <a href="#" class="btn btn-edit"><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-delete"><i class="fas fa-trash-alt"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-5">
      <a href="{% url 'personnel' %}" class="link-to-content">
        <div class="card personnel-card more-content-card">
          <div class="row">
            <div class="col">
              <p class="darkleague my-5"><strong>All Personnel</strong></p>
              <p class="void my-5">- Click Here! -</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<hr class="menus my-5" />
<div class="container">
  <div class="row">
    <div class="col-12 text-center btt-btn">
      <a class="btt-link btn">
        <i class="fas fa-arrow-up"></i> Back to Top
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>
  </div>
</div>
<!-- set up footer for page -->
<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
<footer class="d-none d-lg-block fixed-bottom text-center">
  <p class="my-2">
    This is a fan made, non profit site. Source materials and locations are
    described in README for project
  </p>
</footer>
{% endblock content %} {% block postloadjs %} {{ block.super }}
<script>
  $(".btt-link").click(function () {
    window.scrollTo(0, 0);
  });
</script>
{% endblock %}