{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Homepage{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">Welcome to the Console</h3>
      <p class="league page-subhead">
        Access the latest information about missions and member fo the League
      </p>
    </div>
  </div>
  <div class="col-12">
    <ul class="list-inline list-unstyled text-center content-titles">
      <li class="list-inline-item">
        <a class="menus" href="#news">- News</a>
      </li>

      <li class="list-inline-item">
        <a class="menus" href="#personnel">- Personnel</a>
      </li>

      <li class="list-inline-item">
        <a class="menus" href="#success">- Comp. Reports</a>
      </li>
    </ul>
  </div>
</div>
<hr class="menus mb-5" />
<!-- The content entries section -->
<!-- content for news updates -->
<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
<hr class="menus my-5" />
<!-- content for Personnel changes -->
<div class="container-fluid">
  <div class="row">
    {% for c in crew %}
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-5">
      <div class="card">
        <div class="row">
          <div class="col">
            <div class="card-img-holder">
              <a href="#">
                {% if c.profile_image %}
                <img class="card-img-top" src="{{ c.profile_image.url }}" alt="{{ c.name }} profile image">
                {% else %}
                <img class="card-img-top" src="{{ MEDIA_URL }}no-image.png" alt="No image available">
                {% endif %}
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">
                {{ c.name|upper }}

              </h5>
              <p class="card-text">
                {{ c.get_rank_display }} - <em>{{ c.originated_from|lower }}</em>

              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="#" class="btn btn-view"><span class="d-none d-lg-inline-block">View </span> <i
                class="fas fa-eye"></i></a>
            {% if request.user.is_superuser %}
            <a href="#" class="btn btn-edit"><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-delete"><i class="fas fa-trash-alt"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<hr class="menus my-5" />
<!-- content for completion reports -->
<div class="row">
  <div class="col-12"></div>
</div>
</div>
</div>

<!-- set up footer for page -->
<footer class="d-none d-lg-block fixed-bottom text-center">
  <p class="my-2">
    This is a fan made, non profit site. Source materials and locations are
    described in README for project
  </p>
</footer>
{% endblock content %}