{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Homepage{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">Welcome to the Console</h3>
      <p class="league page-subhead">
        Here you can see all the latest updates and changes for the League.
      </p>
    </div>
  </div>
  <div class="col-12">
    <ul class="list-inline list-unstyled text-center content-titles">
      <li class="list-inline-item">
        <a class="menus" href="#news">- News</a>
      </li>

      <li class="list-inline-item">
        <a class="menus" href="#personnel">- Personnel</a>
      </li>

      <li class="list-inline-item">
        <a class="menus" href="#success">- Comp. Reports</a>
      </li>
    </ul>
  </div>
</div>
<hr class="menus" />
<!-- The content entries section -->
<div class="container-fluid">
  <div class="row">
    <!-- content for news updates -->
    <div class="col-12"></div>
    <hr class="my-5" />
    <!-- content for Personnel changes -->
    <div class="col-12"></div>
    <hr class="my-5" />
    <!-- content for completion reports -->
    <div class="col-12"></div>
  </div>
</div>

<!-- set up footer for page -->
<footer class="d-none d-lg-block fixed-bottom text-center">
  <p class="my-2">
    This is a fan made, non profit site. Source materials and locations are
    described in README for project
  </p>
</footer>
{% endblock content %}
