{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Edit {{ product.name }}{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
        <h3 class="renegade page-heading">Edit an Item</h3>
        <p class="league page-subhead">
            Please use the form below to Add a new Item brief to the Operation</em>
        </p>
    </div>
    <div class="col-12 content-titles text-center">
        <a href="{% url 'home' %}" class="menus btn"><i class="fas fa-chevron-circle-left"></i> Home</a>
        <a href="{% url 'resources' %}" class="menus btn"><i class="fas fa-chevron-circle-left"></i> Resources</a>
        <a href="{% url 'console' %}" class="menus btn"><i class="fas fa-chevron-circle-left"></i> Console</a>
    </div>
  </div>
</div>
<hr class="menus">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 form-inner-content">
      <form
        action="{% url 'edit_resource' product.slug %}"
        enctype="multipart/form-data"
        method="POST"
        class="form mb-5 league card-origins">
        {% csrf_token %}
        {% for field in form %}
          {% if field.name != 'image' %}
            <div class="my-4">
              {{ field | as_crispy_field }}
            </div>
          {% else %}
            {{ field }}
          {% endif %}
        {% endfor %}
        <div class="my-3 text-right">
          <a href="{% url 'resource_details' product.slug %}" class="btn-console-link"><i class="fas fa-chevron-circle-left"></i> Cancel</a>
          <button class="btn-console-link" type="submit">+ Edit Item</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center btt-btn">
            <a class="btt-link btn">
                <i class="fas fa-arrow-up"></i> Back to Top
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block page_footer %}
<div class="container footer-container">
  <div class="row">
    <div class="col-12"></div>
  </div>
</div>
{% endblock page_footer %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`You have chosen - ${file.name} - as your new image!`);
        });
    </script>
    <script>
      $(".btt-link").click(function () {
          window.scrollTo(0, 0);
      });
  </script>
{% endblock %}