{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Resources{% endblock %}

<!-- set up tab extra title -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product-styles.css' %}" />
{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
  <div class="row mb-3">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">
        <!-- header -->
        Shop for Resources
      </h3>
      <p class="league page-subhead d-none d-md-block">
        <!-- subheader -->
        Please feel free to browse the resources our team have retrieved from
        the numerous mission they have been posted on.
      </p>
    </div>
  </div>
  <hr class="menus" />
  <div class="row">
    <div class="col-12 text-center content-titles mb-3">
      {% if from_homepage and request.user.is_superuser %}
      <a href="{% url 'resources' %}"><< Return to the shop</a>
      {% elif request.user.is_superuser %}
      <a href="{% url 'pending_resources' %}"><< Check for Pending Resources</a>
      {% endif %}
    </div>
  </div>
  {% if not from_homepage %}
  <div class="row mb-1">
    <div class="col-12 col-md-6 m-auto mb-3">
      <!-- search bar -->
      <form action="{% url 'resources' %}" method="GET" class="searchbar">
        <div class="input-group w-100">
          <input
            type="text"
            class="form-control"
            name="q"
            placeholder="Search Products"
          />
          <div class="input-group-append">
            <button class="form-control btn border bg-black" type="submit">
              <span class="icon menus"><i class="fas fa-search"></i></span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <!-- drop down for sorting resources -->
      <div class="sort-select-wrapper">
        <select id="sort-selector"
            class="custom-select form-control mx-auto">
            <option 
            value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
              Sort by... ▼</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
              (low to high) ▼</option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
              (high to low) ▼</option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
              (A-Z) ▼</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
              (Z-A) ▼</option>
            {% if not cat %}
            <option value="category_asc" {% if current_sorting == 'cateogry_asc' %}selected{% endif %}>
              Category (A-Z) ▼</option>
            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
              Category (Z-A) ▼</option>
            {% endif %}
        </select>
    </div>
    </div>
  </div>
  {% endif %}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- list of categories -->
      <ul class="list-inline list-unstyled text-center">
        {% for c in categories %}
        <li class="list-inline-item list-unstyled">
          <a 
            href="{% url 'resources' %}?category={{ c.name }}"
            class="plain-link nav-link menus">
            <h3>{{ c.name }}</h3>
          </a>
        </li>
        {% endfor %}
      </ul>
      <hr class="menus" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mb-4">
      {% if cat or search_term %}
      <a href="{% url 'resources' %}" class="menus reset-button">- Reset -</a>
      {% endif %}
      <span class="league">{{ products|length }} Products
        {% if search_term %} found for search term <strong>'{{ search_term }}'</strong>{% endif %}
        {% if cat %} in the Category <strong>'{{ category }}'</strong>{% endif %}
      </span>
    </div>
  </div>
  <div class="row">
    {% for p in products %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 league mb-3">
      <div class="card product-card">
        <a href="#" class="product-link">
          <p class="product-name text-center">{{ p.name }}</p>
          <div class="product-image-container text-center">
            {% if not p.image %}
            <img
              src="{% static 'img/no-photo-available.jpg' %}"
              alt="{{ p.name }}'s product image not available"
              class="product-image"
            />
            {% else %}
            <img
              src="{{ p.image.url }}"
              alt="{{ p.name }}'s product image"
              class="text-center product-image"
            />
            {% endif %}
          </div>
        </a>
        <p class="product-price text-center">Price: §{{ p.price }}</p>
        <a 
          href="{% if not from_homepage %}
            {% url 'resources' %}?category={{ p.category }}
          {% else %}
            #
          {% endif %}"
          class="product-link">
          <p class="product-category text-center">
            Category: 
            <strong><em>
              {% if p.category %}{{ p.category }}{% else %}---{% endif %}
            </em></strong>
          </p>
        </a>
      </div>
    </div>
    {% if forloop.counter|divisibleby:1 %}
    <div class="col-12 d-sm-none">
      <hr class="menus" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:2 %}
    <div class="col-12 d-none d-sm-block d-md-none">
      <hr class="menus my-4" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:3 %}
    <div class="col-12 d-none d-md-block d-lg-none">
      <hr class="menus my-4" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:4 %}
    <div class="col-12 d-none d-lg-block d-xl-none">
      <hr class="menus my-4" />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:6 %}
    <div class="col-12 d-none d-xl-block">
      <hr class="menus my-4" />
    </div>
    {% endif %}{% endfor %}
  </div>
  <div class="row">
    <div class="col-12 text-center btt-btn my-5">
      <a class="btt-link btn">
        <i class="fas fa-arrow-up"></i> Back to Top
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %} {% block postloadjs %} {{ block.super }}
<script>
  $(".btt-link").click(function () {
    window.scrollTo(0, 0);
  });
</script>
<script>
  $('#sort-selector').change(function () {
      var selector = $(this);
      var currentUrl = new URL(window.location);

      var selectedVal = selector.val();
      if (selectedVal != "reset") {
          var sort = selectedVal.split("_")[0];
          var direction = selectedVal.split("_")[1];

          currentUrl.searchParams.set("sort", sort);
          currentUrl.searchParams.set("direction", direction);

          window.location.replace(currentUrl)
      } else {
          currentUrl.searchParams.delete("sort");
          currentUrl.searchParams.delete("direction");

          window.location.replace(currentUrl)
      }
  })
</script>
{% endblock %}
