{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - {{ product.name }}'s Details{% endblock %}

<!-- set up tab extra title -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product-styles.css' %}" />
{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
  <div class="row mb-3">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">
        <!-- header -->
        Product Details
      </h3>
      <p class="league page-subhead d-none d-md-block">
        <!-- subheader -->
        This is the product you have selected
      </p>
    </div>
    <div class="col-12">
      <!-- Links for returning to shop -->
      <div class="col-12 content-titles">
        {% if from_pending == True %}
        <a href="{% url 'pending_resources' %}" class="menus">
          << Pending Resources
        </a>
        {% else %}
        <a href="{% url 'resources' %}" class="menus"><< Resources</a>
        {% endif %}
        <a href="{% url 'home' %}" class="menus"><< Home </a>
      </div>
    </div>
  </div>
  <hr class="menus" />
  <div class="row mb-5">
    {% if request.user.is_superuser %}
    <div class="col-12 text-center">
      <a href="#">
        <button class="btn-console-link my-3">Edit Resource</button>
      </a>
      <a href="#">
        <button class="btn-console-link my-3">Delete Resource</button>
      </a>
    </div>
    {% endif %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1 league mb-4 text-center">
      <h4><strong>{{ product.name }}</strong> - <em>{{ product.category }}</em></h4>
    </div>
    <div class="col-12 col-md-5 offset-md-1 text-center">
      <img
        src="{{ product.image.url }}"
        alt="{{ product.image.url }}'s product image"
        class="product-display-img mb-4">
    </div>
    <div class="col-12 col-md-5 league">
      <!-- product information -->
      <p class="product-desc mb-5">{{ product.description }}</p>
      <p class="product-price mb-3">Price: §{{ product.price }}</p>
    </div>
  </div>
</div>
{% endblock %}
