{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Resources{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="renegade page-heading">
        <!-- header -->
        Shop for Resources
      </h3>
      <p class="league page-subhead">
        <!-- subheader -->
        Please feel free to browse the resources our team have retrieved from
        the numerous mission they have been posted on.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 content-titles">
        <!-- drop down for sorting resources -->
    </div>
    <div class="col-6">
        <!-- search bar -->
    </div>
  </div>
</div>
<hr class="menus" />
{% endblock %}
