{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- set up meta tags -->
    {% block meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% endblock %}

    <!-- Set up custom CSS -->
    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
        type="text/css" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    {% endblock %} {% block extra_css %}{% endblock %}

    <!-- Set up custom JS -->
    {% block corejs%}
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/5889d2f18a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    {% endblock %}

    <title>Fantasy Blog Shop{% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="container-fluid fixed-top d-none d-md-block">
            <div class="row header-field">
                <!-- Set up search bar for site -->
                <div class="col-4 header-left-field my-auto">
                    <a href="#" class="plain-link menus">
                        <i class="fas fa-ellipsis-v"></i> Menu
                    </a>
                </div>
                <!-- Set up main site header -->
                <div class="d-none d-xl-block col-4 text-center header-center-field my-auto">
                    <a href="{% url 'home' %}" class="header-title">
                        <span class="renegade">Renegade</span><span class="league">League</span>
                    </a>
                </div>
                <div class="d-xl-none col-4 text-center header-center-field my-auto">
                    <a href="{% url 'home' %}" class="header-title">
                        <span class="renegade">R</span><span class="league">L</span>
                    </a>
                </div>
                <!-- Set up account and shop bar -->
                <div class="col-4 text-right header-right-field my-auto">
                    <ul class="list-inline list-unstyled my-0">
                        <li class="list-inline-item dropdown">
                            <a class="plain-link menus" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account <i class="fas fa-sort-down"></i></p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                <a href="#" class="dropdown-item">Hello</a>
                                <a href="#" class="dropdown-item">Darkness</a>
                                <a href="#" class="dropdown-item">My Old</a>
                                <a href="#" class="dropdown-item">Friend</a>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="plain-link menus" href="#">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        Currency
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% include 'includes/mobile-header.html' %}
    </header>
    <!-- Content set up for each page -->
    {% block content %} {% endblock %}
</body>

</html>