input.stripe-style-input {
    margin-bottom: 7px;
    height: 35px;
}

.checkout-image {
    max-width: 75%;
    max-height: 100px;
    border: 2px solid yellow;
}

.checkout-product-row {
    height: 90px;
}

@media (max-width: 700px) {
    .checkout-image {
        max-width: 100%;
        max-height: 100px;
    }
}