<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
  <div class="arrow-up arrow-info"></div>
  <div class="w-100 toast-capper bg-info"></div>
  <div class="toast-header bg-black renegade">
    <h5 class="mx-auto"><strong>Admin Info:</strong></h5>
    <button
      type="button"
      class="btn btn-close text-right close renegade"
      data-dismiss="toast"
      aria-label="Close"
    >
      <span aria-hidden="true">X</span>
    </button>
  </div>
  <div class="toast-body bg-black">
    <div class="row">
      <div class="col league">
        {{ message }}
        <hr class="mt-1 mb-3" />
      </div>
    </div>
  </div>
</div>
