{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Edit a Mission{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
        <h3 class="renegade page-heading">Edit a Mission</h3>
        <p class="league page-subhead">
            Please use the form below to Edit a Mission brief for the Operation</em>
        </p>
    </div>
    <div class="col-12 content-titles text-center">
        <a href="{% url 'home' %}" class="menus"><< Home</a>
        <a href="{% url 'missions' %}" class="menus"><< Missions</a>
        <a href="{% url 'console' %}" class="menus"><< Console</a>
    </div>
  </div>
</div>
<hr class="menus">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 form-inner-content">
      <form
        action="{% url 'edit_mission' mission.id %}"
        enctype="multipart/form-data"
        method="POST"
        class="form mb-5 league card-origins">
        {% csrf_token %}
        {% for field in form %}
          {% if field.name != 'mission_img' %}
            <div class="my-4">
              {{ field | as_crispy_field }}
            </div>
          {% else %}
            {{ field }}
          {% endif %}
        {% endfor %}
        <div class="my-3 text-right">
          <a href="{% url 'missions' %}" class="btn-console-link"><< Cancel</a>
          <button class="btn-console-link" type="submit">+ Edit Mission</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`You have chosen - ${file.name} - as your new image!`);
        });
    </script>
{% endblock %}