{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- add extra css stylesheet -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mission-details.css' %}" />
{% endblock %}

<!-- set up tab extra title -->
{% block extra_title %} - Edit an Update{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
        <h3 class="renegade page-heading">Edit an Update</h3>
        <p class="league page-subhead">
            Please use the form below to add a new Update to the mission</em>
        </p>
    </div>
    <div class="col-12 content-titles text-center">
        <a href="{% url 'home' %}" class="menus btn"><< Home</a>
        <a href="{% url 'mission_details' update.mission.id %}" class="menus btn"><< Back to Mission</a>
        <a href="{% url 'console' %}" class="menus btn"><< Console</a>
    </div>
  </div>
</div>
<hr class="menus">
<div class="container">
    <div class="row text-center">
        <div class="col-12 league page-subhead mb-3">Update for Mission - "{{ update.mission }}"</div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 league form-inner-content">
            <form action="{% url 'edit_update' update.id %}" method="POST" class="form mt-3 mb-2 card-origins approval-form">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <a href="{% url 'update_details' update.id %}" class="btn-console-link"><< Cancel</a>
                    <button class="btn-console-link mt-3" type="submit">+ Add Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block page_footer %}
<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock  %}