{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up tab extra title -->
{% block extra_title %} - Mission Brief{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="renegade page-heading">Latest Mission Update</h3>
            <p class="league page-subhead">
                <strong>{{ task.mission|upper }}</strong> - latest report from <em>{{ task.mission_lead|upper }}</em>
            </p>
        </div>
        <div class="col-12 content-titles">
            <a href="{% url 'missions' %}" class="menus">Back to Missions</a>
        </div>
    </div>
</div>
<hr class="menus" />
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}