{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- add extra css stylesheet -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mission-details.css' %}" />
{% endblock %}

<!-- set up tab extra title -->
{% block extra_title %} - Mission Brief{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container text-center">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="renegade page-heading">Latest Mission Report</h3>
            <p class="league page-subhead">
                This is the lastest information we have received from the team leader regarding the mission.</em>
            </p>
        </div>
        <div class="col-12 content-titles">
            <a href="{% url 'missions' %}" class="menus"><< Back to Missions</a> 
            <a href="{% url 'console' %}" class="menus"><< Back to Console</a>
        </div>
    </div>
</div>
<hr class="menus" />
<div class="container current-mission">
    <div class="row">
        <div class="col-12">
            <h3 class="league mb-3 mx-4">Current Mission Status -
                <span
                    class="status-blink {% if task.mission_status == 1 %}league{% elif task.mission_status == 2 %}renegade{% else %}menus{% endif %}">{{ task.get_mission_status_display|upper }}</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            {% if m.mission_image %}
            <img class="mission-img mb-3" src="{{ m.mission_img.url }}" alt="{{ m.mission }} profile image" />
            {% else %}
            <img class="mission-img mb-3" src="{{ MEDIA_URL }}mission-default-image.png" alt="No image available" />
            {% endif %}
        </div>
        <div class="col-12 col-md-6 league mission-breakdown">
            <p>Mission Title: <strong>{{ task.mission }}</strong></p>
            <p>Mission being led by: <strong>{{ task.mission_lead }}</strong></p>
            <p>Prep Time: <strong>{{ task.prep_time }} days</strong></p>
            <p>Estimated mission length: <strong>{{ task.mission_length }} weeks</strong></p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-10 offset-1 league mission-desc">
            <p><strong>Mission Description:</strong></p>
            <p>{{ task.description|linebreaks }}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center btt-btn">
            <a class="btt-link btn">
                <i class="fas fa-arrow-up"></i> Back to Top
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
</div>
<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<footer class="d-none d-lg-block fixed-bottom text-center">
    <p class="my-2">
        This is a fan made, non profit site. Source materials and locations are
        described in README for project
    </p>
</footer>
{% endblock content %} {% block postloadjs %} {{ block.super }}
<script>
    $(".btt-link").click(function () {
        window.scrollTo(0, 0);
    });
</script>
{% endblock %}