{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- add extra css stylesheet -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mission-details.css' %}" />
{% endblock %}

<!-- set up tab extra title -->
{% block extra_title %} - Add a Comment{% endblock %}

<!-- set up page header to push ccon down -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

<!-- set up main content block -->
{% block content %}
<div class="cover-up"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="renegade page-heading">Update Details</h3>
            <p class="league page-subhead">
                These are the details for the Update</em>
            </p>
        </div>
        <div class="col-12 content-titles text-center">
            <a href="{% url 'home' %}" class="menus"><< Home</a>
            <a href="{% url 'mission_details' update.mission.id %}" class="menus"><< Back to Mission</a>
        </div>
    </div>
</div>
<hr class="menus" />
{% if request.user.is_superuser %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'edit_update' update.id %}">
                <button class="btn-console-link my-3">Edit Update</button>
            </a>
            <a href="{% url 'delete_update' update.id %}">
                <button class="btn-console-link my-3">Delete Update</button>
            </a>
        </div>
    </div>
</div>
{% endif %}
<hr class="menus">
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h4 class="text-center menus page-heading">
                This is an update for: {{ update.mission }}
            </h4>
        </div>
        <div class="col-12 mb-3">
            <p class="page-subhead league text-center"><strong>"{{ update.title }}"</strong></p>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-3">
            <p class="update-body league">{{ update.body }}</p>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-3">
            <p class="update-body league">This post was published on {{ update.created_on }}</p>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-3 text-center">
            
        </div>
    </div>
    <div class="row text-center">
        <div class="col-8 offset-2 col-md-4 offset-md-4 form-inner-content">
            <form action="" method="POST" class="form mt-3 mb-2 card-origins approval-form league">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn-console-link mt-3" type="submit">Approve Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block page_footer %}
<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock  %}